/* GENERAL STYLE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    background-color: bisque;
}
/* HEADER */
header{
    text-align: center;
    padding-top: 3rem;
    max-width: 600px;
    margin-inline: auto;
}

p{
    padding: 0.5rem;
}
/* MAIN */
.container{
    margin-top: 2rem;
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.card{
    text-align: center;
}